.overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.item {
    position: relative;
}


.image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background-color: black;
}

    .image img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }