@page "/about"

<h2>About</h2>
<p>
    Welcome to the Messier Catalogue Mosaic Generator! This web application allows you to create unique and personalized mosaic images of your Messier object astro photographs. You can check out an example of a full-resolution mosaic image <a href="images/example_mosaic.png" target="_blank">here</a>.
</p>
<p>
    It only requires two simple steps:
    <ol>
        <li>Upload your Messier object astro photographs</li>
        <li>Press the "Generate" button and select your desired resolution and column settings</li>
    </ol>
</p>
<p>
    It is developed using .NET Blazor Web-Assembly and designed to ensure your privacy. All images are processed entirely within your browser, and no pictures you upload will ever leave your computer. Furthermore the application is open-sourced and available on <a href="https://github.com/wizche/messier-mosaic-generator">GitHub</a>.
</p>
<p>\
    If you have any questions, bugs report, feedbacks or feature request you can hit me up on <a href="https://twitter.com/wizche">Twitter</a> or on the <a href="https://github.com/wizche/messier-mosaic-generator">project repository</a> directly.
</p>